<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javali Store - User Msg</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">JAVALI</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/Store">Store</a></li>
        <li class="active"><a href="/changePassword">Change Password</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-user"></span> Log out</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
        <h1>Massege For User</h1>
        <div class="flex-container">
            <div class="flex-item"><%=message%>.</div>
            <div class="flex-container,text-center">
              <input type="button" value="Store" onclick="window.location.href='/store'">
            </div>
        </div>
    </div>
</body>
</html>